<h1>Register for Raffle <%= @raffle.id %></h1>

<table class="table">
  <%= for entrant <- Enum.reverse(@raffle.entrants) do %>
    <tr>
      <td>
        <%= render "entrant.html", entrant: entrant %>
      </td>
    </tr>
  <% end %>
</table>
