<h2>New entrant</h2>

<%= render "form.html", changeset: @changeset,
                        raffle_id: @raffle_id,
                        action: raffle_entrant_path(@conn, :create, @raffle_id) %>

<%= link "Back", to: raffle_path(@conn, :show, @raffle_id) %>
