<h2>New entrant</h2>

<%= render "form.html", changeset: @changeset,
                        raffle_id: @raffle_id,
                        action: entrant_path(@conn, :create) %>

<%= link "Back", to: entrant_path(@conn, :index) %>
