<?xml version="1.0" encoding="UTF-8"?>
<Response>
    <Message>Congratulations! You have successfully entered the SDEE raffle.
      Your confirmatioin code is 1234.
      GOOD LUCK!
    </Message>
</Response>
