<?xml version="1.0" encoding="UTF-8"?>
<Response>
    <Message>Congratulations, <%= @entrant.username %>! You have successfully entered the SDEE raffle. <a href="<%= entrant_url(@conn, :show, @entrant.slug) %>">Follow this link to start the race</a>. GOOD LUCK!
    </Message>
</Response>
