<div class="notification" id="notification"></div>

<div id="entrant-dice-container">
  <%= render "dice.html" %>
</div>

<script>
  window.entrantId       = "<%= @entrant.id %>";
  window.entrantSlug     = "<%= @entrant.slug %>";
  window.entrantUserName = "<%= @entrant.username %>";
  window.raffleId        = "<%= @entrant.raffle_id %>";
</script>
