<h2>Show entrant</h2>

<ul>

  <li>
    <strong>Username:</strong>
    <%= @entrant.username %>
  </li>

  <li>
    <strong>Raffle:</strong>
    <%= @entrant.raffle_id %>
  </li>

  <li>
    <strong>Raffle ID:</strong>
    <%= @entrant.raffle_id %>
  </li>

  <li>
    <strong>Phone hash:</strong>
    <%= @entrant.phone_hash %>
  </li>

</ul>

<%= link "Back", to: entrant_path(@conn, :index) %>
