<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="../../static/css/countdown.css" media="screen" title="no title" charset="utf-8">
  </head>
  <body>

    <div id="countdown-container" class="countdown-container">
      <div id="countdown-get-ready" class="countdown">
        GET READY!
      </div>
      <div id="countdown-3" class="countdown hide">
        3
      </div>
      <div id="countdown-2" class="countdown hide">
        2
      </div>
      <div id="countdown-1" class="countdown hide">
        1
      </div>
      <div id="countdown-shake" class="countdown hide">
        SHAKE!!!
      </div>
    </div>

  </body>
</html>
