<h1>Past Raffles</h1>

<%= link "New raffle", to: raffle_path(@conn, :new) %>

<table class="table">
  <%= for raffle <- Enum.reverse(@raffles) do %>
    <tr>
      <td>
        <%= raffle.id %>
      </td>
      <td>
        <%= render "raffle.html", raffle: raffle %>
      </td>
      <td>
        <%= link "View", to: raffle_path(@conn, :show, raffle.id) %>
      </td>
    </tr>
  <% end %>
</table>
